* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #f8f8ff;
    color: #252525;
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #001F3F;
    color: #f8f8ff;
    border-bottom: 4px solid #EAD8B1;
}

#gallery{
    max-height: 100vh;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

    align-content: center;

}

#gallery img {
    margin: 5px;
    border-radius: 5px;
    max-height:30vh;
    max-width: 30vw;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 50px;
}
